//- Global vars
- var pageTitle = 'Gulp Template by Ereburg'
- var  pageHome = false
- var  pageWork = false
- var  pageAbout = false
- var  pageContact = false
            
            
//- vars for footer socials array
- var arrSocials = [{link: "http://vk.com/ereburg", name: 'vk', delay: '750'}, {link: "http://instagram.com/ereburg", name: 'ig', delay: '1000'}, {link: "http://t.me/ereburg", name: 'tg', delay: '1250'}, {link: "https://www.linkedin.com/in/ereburg/", name: 'in', delay: '1500'}]