header.header
    nav.nav.container
        h1(data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000" data-aos-once="true").nav__title ereburg
        button(class="nav__button" type="button" data-aos="fade-left" data-aos-delay="150" data-aos-duration="1000" data-aos-once="true")
            span(class="button-text") menu
            span.dot-white .
        ul.nav__menu
            +navLink('index.html', 'home', pageHome, 250)
            +navLink('work.html', 'work', pageWork, 500)
            +navLink('about.html', 'about me', pageWork, 750)
            +navLink('index.html#get-in-touch', 'contact', pageContact, 1000)
        