block globalVars 
    include ../modules/_variables

block variables

block mixins
    include ../modules/_mixins
    
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Ereburg's portfolio project")
        meta(name="keywords" content="Ereburg portfolio web developer")
        meta(name="author" content="Ereburg")
        link(rel="stylesheet", href="styles/style.min.css")
        link(rel="stylesheet", href="styles/aos.min.css")
        title= pageTitle
    body.page
        .wrapper
            .inner
                include ../modules/_header
            
                block content

                include ../modules/_footer
            
            nav.nav-mobile.container
                button(class="nav-mobile__button" type="button")
                    span(class="button-text") close
                    span.dot-white [x]
                ul.menu-mobile
                    +navLink('index.html', 'home', pageHome, 250)
                    +navLink('work.html', 'work', pageWork, 500)
                    +navLink('about.html', 'about me', pageWork, 750)
                    +navLink('contact.html', 'contact', pageContact, 1000)

        block scripts
            script(src="scripts/scripts.min.js")