extends layouts/_main

block variables
    - var pageTitle= 'Portfolio by Ereburg'
    - var  pageHome = true

block content
    main.main
       .container
            section(class="hero")
                p hello, world!
                
            section(class="selected")

            section(class="profile")

            section(class="contacts" id="get-in-touch")
                h2(class="visually-hidden") Lets get in touch!
                div(class="contacts__content-wrapper")
                    h3(class="contacts__title contacts__title--action") let's make something great together.
                    a(class="contacts__link contacts__link--button" href="projects.html") start a project
                    a(class="contacts__link contacts__link--mail" href="mailto:eugene.kotsarev@gmail.com") ereburg@gmail.com
                    p(class="contacts__address") Minsk, Republic of Belarus
                div(class="contacts__content-wrapper")
                    div(class="contacts__text-wrapper")
                        h3(class="contacts__title") say hello 👋
                        p(class="contacts__text").
                            And once again, greetings, my gorgeous friends of Internet! Here you can send me a message about everything you want.
                            Feel free to contact me, especially if you have any questions, kudos or karma just text it below.
                            Also I'd be glad to get some feedback about me and my work. Well, lets see what's on your mind. 
                    form(class="contacts__form form-response" action="action/send.php" method="POST")
                        p(class="form-response__row")
                            label(class="form-response__label" for="form-response__name") name :
                            input(class="form-response__input" type="text", name="first-name", id="form-response__name",  required)
                        p(class="form-response__row")
                            label(class="form-response__label" for="form-response__email") email :
                            input(class="form-response__input" type="email", name="form-email", id="form-response__email",  required)
                        p(class="form-response__row")
                            label(class="form-response__label" for="form-response__message") message :
                            textarea(class="form-response__input form-response__input--textarea", name="form-message", id="form-response__message", required)
                        button(class="form-response__button" type="submit") send the raven

block scripts
    script(src="scripts/scripts.min.js")