extends layouts/_main

block variables
    - var pageTitle= 'Portfolio by Ereburg'
    - var  pageHome = true

block content
    main.main
       .container
            .hero



block scripts
    script(src="scripts/scripts.min.js")