extends layouts/_main

block variables
    //- put your vars here
    - var pageTitle= 'Gulp Template by Ereburg'

block content
    main.main
        h1 Hello, World!
        p How are you?


block scripts
    script(src="scripts/scripts.min.js")