extends layouts/_main

block variables
    - var pageTitle= 'Ereburg and his portfolio'
    - var  pageHome = true

block content
    main.main
        .container-fluid
            section(class="hero")
                h2(class="title title--center").
                    If life is a box of chocolates then I would eat it all in one sitting.
                    welcome to my world!
                a(href="#selected" class="arrow-down")
                
            article(class="main__item selected" id="selected")
                h2(class="selected__title title") selected projects.
                section(class="selected__section project")
                    h3(class="title") Minimo Blog.
                section(class="selected__section project")
                    h3(class="title") Agnecy Landing.
                section(class="selected__section project")
                    h3(class="title") Infinite Selection.
                section(class="selected__section project")
                    h3(class="title") Simple Landing.
                    

        .container
            section(class="main__item profile" id="profile")
                h2(class="profile__title title") about me.
                //- p(class="regular-text").
                //-     I am an internet enthusiast with a penchant for embracing the noob life. I love tinkering with code, and find nothing more satisfying than bringing designs to life. Offline, I like science, films, art, music, and buying books without reading them. Favourite film is Lord of the Rings. My cat Purry is obviously the most important part of my life. This might have been written by Purry.
                p(class="regular-text").
                    Living with passion is what I strictly adhere to. “Always do what you love” how much ever hackneyed this sounds it holds absolutely true. That's why I'm developer. Not for the sole reason of “loving” to programming but it helps me to get rid of the world and escape into a different dimension of my own.
                p(class="regular-text").
                    I am a continuous learner. Learning for me equates to exploring new ideas and growing as an individual. I just cannot imagine my life devoid of development. I freely express my creativity and imagination by developing. And to give my passion of developing a platform I have a GitHub account named, Ereburg.


            article(class="main__item contacts" id="get-in-touch")
                h2(class="visually-hidden") Lets get in touch!
                section(class="contacts__content-wrapper contacts__content-wrapper--action")
                    h3(class="title title--center") let's make something great together.
                    a(class="contacts__link contacts__link--button button" href="projects.html") start a project
                    a(class="contacts__link contacts__link--phone" href="tel:+375256587530")
                        span(class="contacts__text") +375 25 
                        span 658-75-30
                    a(class="contacts__link contacts__link--mail" href="mailto:eugene.kotsarev@gmail.com") ereburg@gmail.com
                    p(class="contacts__address") Minsk, Republic of Belarus
                section(class="contacts__content-wrapper")
                    h3(class="title") say hello 👋
                    p(class="contacts__text").
                        And once again, greetings, my gorgeous friends of Internet! Here you can send me a message about everything you want. Feel free to contact me, especially if you have any questions, kudos or karma just text it below. Also I'd be glad to get some feedback about me and my work. Well, lets see what's on your mind. 
                    form(class="contacts__form form-response" action="action/send.php" method="POST")
                        p(class="form-response__row")
                            label(class="form-response__label" for="form-response__name") name :
                            input(class="form-response__input" type="text", name="first-name", id="form-response__name",  required)
                        p(class="form-response__row")
                            label(class="form-response__label" for="form-response__email") email :
                            input(class="form-response__input" type="email", name="form-email", id="form-response__email",  required)
                        p(class="form-response__row")
                            label(class="form-response__label" for="form-response__message") message :
                            textarea(class="form-response__input form-response__input--textarea", name="form-message", id="form-response__message", required)
                        button(class="form-response__button button" type="submit") send the raven
                section(class="contacts__content-wrapper credits")
                    h3(class="title") don't miss.
                    p(class="contacts__text").
                        Heeey, hold on a second! <br> Are you sure didn't miss anything? Yeah, that's right. There you can find out something extras about me, my projects, future plans and current statement. So what are you waiting for? Go on and visit the link below!
                    a(class="contacts__link button contacts__link--credits" href="about.html") let's find out!

block scripts
    script(src="scripts/scripts.min.js")