.header
    position: sticky
    top: 0
    z-index: 100
    background: $color-dark
    transition: all $pageTransition
    @include color-scheme(light)
        background: $color-light

.nav
    @include flexbox
    align-items: baseline
    padding-top: 20px

.nav__title
    font-size: $fs-brand
    flex-grow: 1

.nav__menu
    @include flexbox
    justify-content: flex-end
    flex-grow: 2
    text-align: right
    list-style-type: none
    
.nav__item
    margin-left: 45px

.nav__link
    position: relative
    z-index: 100
    text-decoration: none
    font-weight: 300
    mix-blend-mode: difference
    @include color-scheme(light)
        font-weight: normal

.dot-white
    font-weight: bold
