.hero
    // max-height: calc( 100vh - 80px )
    // overflow-y: scroll
    // background: $color-dark
    // @include color-scheme(light)
    //     background: $color-light

.box
    background: $color-vk
    width: 300px
    height: 200px
    margin-bottom: 10px
