// Меню
.nav-mobile
    display: none

.nav__button
    padding: 5px
    margin-left: 45px
    display: none
    background-color: transparent
    border: 0
    border-radius: 2px
    outline-color: $color-ig
    cursor: pointer
    color: $color-light
    @include color-scheme(light)
        color: $color-dark
    @include for-size(tablet-landscape-up)
        display: block

@include for-size(tablet-landscape-up)

    .page
        transition: background-color $pageTransition
        &--mobile
            @include color-scheme(light)
                background-color: #eaebed
        
    .inner
        position: relative
        top: 0
        left: 0
        z-index: 10
        min-width: 100vw
        min-height: 100vh
        background: $color-dark
        transition: all $pageTransition
        @include color-scheme(light)
            background: #fff
        &--mobile
            z-index: 10
            transform: translate(-250px, $marginFromTopView)
            border-top-right-radius: $borderTopRadius
            box-shadow: 0 0 20px $shadow-dark, 0px 30px 50px $shadow-dark, 0px 50px 100px $shadow-dark
            transition: all $pageTransition
            @include color-scheme(light)
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.274), inset -10px 0 60px rgba(44, 43, 43, 0.144)
                
    .inner--mobile > *
        opacity: 0.3
        filter: blur(3px)
        transition: all $pageTransition
        @include color-scheme(light)
            filter: blur(1px)

    .nav__menu
        display: none

    .nav-mobile
        position: fixed
        top: 0px
        right: 0px
        bottom: 0px
        z-index: 9
        @include flexbox
        flex-direction: column
        align-items: flex-end
        min-width: 250px
        opacity: 0
        padding-top: 40px
        color: $color-light
        text-align: right
        transition: all $pageTransition
        @include color-scheme(light)
            color: $color-dark
        
        &--show
           transform: translateY($marginFromTopView)
           opacity: 1

    .nav-mobile__wrapper
        position: fixed
        top: 38px
        
        padding-right: 2vw 
        font-size: $font-xl
        @include  for-size(phone-only)
            font-size: 6vmin
    
    .nav-mobile__button
        margin-bottom: 20vh
        @include buttons-reset($fs-regular)

    .nav-mobile__item:not(:last-child)
        margin-bottom: 5vh

    .menu-mobile
        list-style-type: none

    .header--mobile
        top: -$marginFromTopView
        transition: all $pageTransition
        background: transparent
    
    .nav__link
        position: relative
        z-index: 100